<div class="left-nav">
  <div class="top-section">
    <h1 class="logo">logo</h1>
    <span class="menu">
    <span class="menu-inner">
      <svg class="menu-icon" width="24px" height="18px" viewBox="0 0 24 18" version="1.1" xmlns="http://www.w3.org/2000/svg"><desc>Menu Icon.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-84.000000, -24.000000)" fill="#ffffff"><g transform="translate(84.000000, 24.000000)"><rect x="0" y="0" width="24" height="2"></rect><rect x="0" y="8" width="18" height="2"></rect><rect x="0" y="16" width="21" height="2"></rect></g></g></g></svg>
      <svg class="close-icon" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g  transform="translate(-400.000000, -24.000000)"><g><g ><rect fill="none" x="0" y="0" width="444" height="1280"></rect><g transform="translate(398.000000, 24.000000)" fill="#F7F6F2"><rect transform="translate(12.000000, 10.000000) rotate(45.000000) translate(-12.000000, -10.000000) " x="0" y="9" width="24" height="2"></rect><rect transform="translate(12.000000, 10.000000) rotate(-45.000000) translate(-12.000000, -10.000000) " x="0" y="9" width="24" height="2"></rect></g></g></g></g></g></svg>
    </span>
    </span>
  </div>
  <p class="section_title">FUNDAMENTALS</p>
  <p class="item active">
    <svg width="34" height="13" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 6.94737L5.23684 10.5789L12.5 1.5" stroke="white" stroke-width="2"/>
    </svg>
    <span>Introduction</span>
  </p>
  <p class="item">
    <svg width="34" height="13" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 6.94737L5.23684 10.5789L12.5 1.5" stroke="white" stroke-width="2"/>
    </svg>
    <span>Introduction</span>
  </p>
  <p class="item">
    <svg width="34" height="13" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 6.94737L5.23684 10.5789L12.5 1.5" stroke="white" stroke-width="2"/>
    </svg>
    <span>Introduction</span>
  </p>
  <p class="item">
    <svg width="34" height="13" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 6.94737L5.23684 10.5789L12.5 1.5" stroke="white" stroke-width="2"/>
    </svg>
    <span>Introduction</span>
  </p>
</div>